/*CSS Variables*/
:root {
    --first:  #2a52be; 
    --second: #659CEF;
    --third: #696969;
    --shadow: 0 1px 5px rgba(104,104,104, 0.75);
}

html {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--third);
}
body {
    background-color: darkcyan;
    margin: 20px 50px;
    line-height: 1.5;
}
  /*Scalable for all devices*/ 
img {
   max-width: 100%; 
}

.wrapper{
    display: grid;
    grid-gap: 20 px;

}

/* Navigation*/
.header-nav ul {
    display: grid;
    grid-gap: 20 px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
}

.header-nav a{
    background: var(--first);
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    text-align: center;
    color: var(--third);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}

.header-nav a:hover{
    background: var(--second);
    color: var(--first);
}

.top-box-a, .top-box-b {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
     'hero hero top-box-a'
     'hero hero top-box-b';
}
.hero {
    grid-area: hero;
    min-height: 500px;
    background: url(../challenge2/purple-fade-facebook-cover-timeline-banner-for-fb.jpg);
    background-size: cover;
    background-position: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
}

.hero p {
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--second);
}

.top-box{
    background: var(--third);
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 1.5rem;
}
.top-box-a {
    grid-area: hero-box-a;
}
.top-box-b {
    grid-area: hero-box-b;
}

.boxes {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}

.box {
    background-color: var(--second);
    text-align: center;
    padding: 1.5 rem 2rem;
    box-shadow: var(--shadow);
}

